<h1>Results Page</h1>

<% @results.each do |result| %>
  <section class="search_result" id="performance">
      <% if result.class == Performance %>
        <h5>Performance</h5>
        <p><%= link_to "#{result.show.title}", show_path(result.show)%></p>
        <p><%= result.human_readable_start_date%></p>
        <p><%= link_to "Click to book #{result.human_readable_start_time} performance", performance_path(result)%></p>
        <p><%= result.duration_in_minutes%></p>
      <%end%>
  </section>



  <section class="search_result" id="performance">
      <% if result.class == Venue %>
        <h5>Venue</h5>
        <p><%= link_to "#{result.name}", venue_path(result)%></p>
        <p><%= result.loaction%></p>
      <%end%>
  </section>
<%end%>