<h1>New Booking for</h1>

<%=form_for [@performance, @booking] do |f| %>
  <%= f.label :tickets %>
  <%=f.text_field :tickets %>
  <%=f.hidden_field :performance_id, value: @performance.id %>

  <%=f.submit 'Book Tickets' %>
<%end%>
