<h1>New Booking for</h1>
    <h1><%= @performance.show.title %></h1>
    <p class="big_venue">Venue: <%= @performance.venue.name%></p>
    <p class="big_date">Date <%= @performance.human_readable_start_date %></p>
    <p class="big_start">Start Time <%= @performance.human_readable_start_time %></p>
    <p class="big_duration">Duration <%= @performance.duration_in_minutes %> minutes</p>
    <p>Venue Location <%= @performance.venue.loaction %> </p>
    <p>Genre <%= @performance.genre.name %></p>
    <p>Description <%= @performance.description %></p>
    <p>Restrictions <%= @performance.restrictions %></p>

      <%=form_for [@performance, @booking] do |f| %>

      <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@booking.errors.count, "error") %> has prohibited this booking being made:</h2>
       
          <ul>
          <% @booking.errors.full_messages.each do |msg| %>
            <li class="error-message"><h2><%= msg %></h2></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.label :tickets %>
        <%=f.text_field :tickets %>
        <%=f.hidden_field :performance_id, value: @performance.id %>
        <%=f.submit 'Book Tickets' %>
      <%end%>
  
    

