<%= form_for @show do |f| %>

<% if @show.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@show.errors.count, "error") %> has prohibited this article from being saved:</h2>
 
    <ul>
    <% @show.errors.full_messages.each do |msg| %>
      <li class="error-message"><h2><%= msg %></h2></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :title, "Show Title" %>
<%= f.text_field :title %>
<br>
<br>
<%= f.label :image, "Add image link" %>
<%= f.text_field :image %>
<br>
<br>
<%= f.label :link, "Link to Artist Site" %>
<%= f.text_field :link %>
<br>
<br>
<%= f.label :desciption, "Artist Description" %>
<%= f.text_field :description %>

<%= f.submit "Create Show" %>

<% end %>