<h2 class="Search Result">Search Shows for "<%=@search_item%>"</h2>
<br>
<% @shows.each do |show| %>
  <h1>Show:<%= show.title %></p>
  <% show.performances.each do |performance|%>
  <h2>Performances</h2>
  <p>Venue: <%=performance.venue.name%></p>
  <%  if performance.date %>
  <p>Date: <%=performance.date.strftime("%B %d, %Y")%></p>
  <%end%>
  
  <%= link_to "See Show details", show_path(show), class: "btn" %>

<% end %>
<% end %>