<%= form_for @performance do |f| %>

<% if @performance.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@performance.errors.count, "error") %> has prohibited this booking being made:</h2>
 
    <ul>
    <% @performance.errors.full_messages.each do |msg| %>
      <li class="error-message"><h2><%= msg %></h2></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :show_id, "Show Name" %>
<% show_id =  @performance.show ? @performance.show.id : @shows.last.id %>
<% options = options_from_collection_for_select(@shows, :id, :title, show_id) %>
<%= f.select :show_id, options %>
<br>
<br>

<%= f.label :venue_id, "Venue" %>
<% venue_id = @performance.venue ? @performance.venue.id : @venues.last.id %>
<% options = options_from_collection_for_select(@venues, :id, :name, venue_id) %>
<%= f.select :venue_id, options %>
<br>
<br>
<%= f.label :genre_id, "Genre" %>
<% genre_id = @performance.genre ? @performance.genre.id : @genres.last.id %>
<% options = options_from_collection_for_select(@genres, :id, :name, genre_id) %>
<%= f.select :genre_id, options %>
<br>
<br>
<%= f.label :start, "Start Time" %>
<%= f.datetime_local_field :start, min: Time.zone.now.beginning_of_hour, max: (Time.zone.now + 1.year), step: 15.minutes  %>
<br>
<br>
<%= f.label :finish, "Finish Time" %>
<%= f.datetime_local_field :finish, min: Time.zone.now.beginning_of_hour, max: (Time.zone.now + 1.year), step: 1.hour  %>
<br>
<br>
<%=f.label :price, "Ticket Price in £"%>
<%=f.select :price, 1..100 %>
<br>
<br>
<%= f.label :description %>
<%= f.text_field :description, :size => 150 %>
<br>
<br>
<%= f.label :restrictions %>
<%= f.text_field :restrictions, :size => 100 %>

<br>

<%= f.submit "Create Show" %>


<% end %>