

<br>
<br>
<% @performances.each do |performance| %>
<% if performance.show %>
  <p class="show_name">Show <%= performance.show.title %></p>
  <p class="venue_name">Venue <%= performance.venue.name %></p>
  
  <p class="date">Date <%= performance.human_readable_start_date %></p>
  <p class="date">Start Time <%= performance.human_readable_start_time %></p>
  <p class="duration">Duration <%= performance.duration_in_minutes %> minutes</p>
        <% performance.bookings.each do |booking| %>
            <% if current_user %>
              <% booking.user.id == current_user.id %>
                <p class="booked">You are going to this concert</p>
            <%end %>  
            <%end%>
        <%end%>
  <br> 
  <%= link_to "See Performance details", performance_path(performance), class: "btn" %>
  <%= link_to "Book this Performance", new_performance_booking_path(performance), class: "btn" %> 


<% end %>
