

<%= current_user.email %>
<br>
<br>
<% @performances.each do |performance| %>
  <p>Show:<%= performance.show.title %></p>
  <p>Venue: <%= performance.venue.name %></p>
  <p>Genre: <%= performance.genre.name %></p>
  <br> 
  <%= link_to "See Performance details", performance_path(performance), class: "btn" %>
  <%= link_to
<% end %>
