<section class="show_section">
<h1><%= @performance.show.title %></h1>
<p class="big_venue">Venue: <%= @performance.venue.name%></p>
<% if @performance.start %>
      <p class="big_date">Date <%= @performance.human_readable_start_date %></p>
      <p class="big_start">Start Time <%= @performance.human_readable_start_time %></p>
      <p class="big_duration">Duration <%= @performance.duration_in_minutes %> minutes</p>
<%end%>

<p>Venue Location <%= @performance.venue.loaction %> </p>
<p>Genre <%= @performance.genre.name %></p>
<p>Description <%= @performance.description %></p>
<p>Restrictions <%= @performance.restrictions %></p>

<%= link_to "Book this Performance", new_performance_booking_path(@performance), class: "btn" %> 
<%= link_to "Edit Performance", edit_performance_path(@performance), class: "btn" %>
<%= link_to('Delete Performance', performance_path(@performance), method: :delete, data: {confirm: 'Delete are you sure?'})%>
</section>