<!DOCTYPE html>
<html>
<head>
  <title>FestivalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <p class="logo">Unmissable</p>
    <% if current_user %>
    <ul>
      <li class="logged_in">Logged In  <b><%= current_user.email.split('@')[0].capitalize%></b></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %></li>
      <li><%= link_to "My Bookings", root_path, class: "btn" %></li>
      <% else %>
      <li><%= link_to "Sign In", new_user_session_path, class: "btn" %></li>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "btn" %></li>
    </ul>
    <% end %>

  </nav>

  <div class="Search">
    <%= form_tag(shows_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search by Show" %>
        <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
             of using a Rails form helper -->
        <button class="search" type="submit">Search Shows!</button>
      <%end%>
    </div>
 </div> 

  <div class="Search">
    <%= form_tag(venues_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search by Venue" %>
        <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
             of using a Rails form helper -->
        <button class="search" type="submit">Search Venues!</button>
      <%end%>
  </div>
</div>
  
  <div class="Search">
    <%= form_tag(genres_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="drop_down">
      <select id="genre_id" name="genre_id">
        <%= options_from_collection_for_select(Genre.all, :id, :name) %>
      </select>
        <button class="search" type="submit" name="search">Search by Genre
        </button>
      <%end%>
    </div>
  </div>  
    <%= link_to "Our Venues", venues_path, class: "btn" %>
    <%= link_to "Our Shows ", shows_path, class: "btn" %>

    <%= link_to " Our Performaces", performances_path, class: "btn" %>

    <%= link_to "Genres", genres_path, class: "btn" %>
  </header>
   

  <!-- Devise Error Notices -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
